.del-button {
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: inline-block;
    float: left;
    text-indent: 0;
    overflow: hidden;
    position: absolute;
    text-decoration: none;
}

.del-button:before {
    background: 0 0;
    color: #bbb;
    content: '\f153';
    display: block!important;
    font: 400 16px/1 dashicons;
    speak: none;
    height: 20px;
    width: 20px;
    text-align: center;
    -webkit-font-smoothing: antialiased!important;
}

.del-button:hover:before {
    color: red;
}

div#media-upload-header {
    display: none;
}

#media-items table.describe {
    display: none!important;
}

#image-form p.savebutton.ml-submit {
    display: none!important;
}

#media-items a.toggle {
    display: none;
}