/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.calendar_days ul.bookings a::after {
	content: " " attr(data-tip)
}

.calendar_days ul.bookings a {
	white-space: pre-line;
	overflow: scroll;
}

div.panel.wbe-booking-data-thickbox {
    padding: unset !important;
}

.booking-changed-data .booking-changed-column p {
    color: #777;
    padding: 0!important;
    font-size: 0.9em;
}

.booking-changed-data .booking-changed-column .form-field {
    float: left;
    margin: 9px 0 0;
}

.booking-changed-data .booking-changed-column .form-field-wide {
    width: 100%;
    clear: both;
}

.booking-changed-data .booking-changed-column {
    width: 23%;
    padding: 0 2% 0 0;
    float: left;
}

.booking-changed-data .booking-changed-column:last-child {
    padding-right: 0;
    width: 25%;
}